.usn-cms-licenses *,
.usn-cms-licenses ::after,
.usn-cms-licenses ::before {
    box-sizing: border-box;
}

.usn-cms-licenses {
    font-family: 'Lato', sans-serif;
}

.usn-cms-licenses .container-fluid {}

.usn-cms-licenses .row {
    margin: 0 -15px;
}

.usn-cms-licenses .col-xs-12 {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:992px) {
    .usn-cms-licenses .col-md-6 {
        float: left;
        width: 50%;
    }
    .usn-cms-licenses .col-md-4 {
        float: left;
        width: 33.3333333%;
    }
}

@media (min-width:1100px) and (max-width:1199px) {
    .usn-cms-licenses .col-md-4 {
        float: none;
        width: 100%;
    }
}

.usn-cms-licenses p.heading {
    display: block;
    margin: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.usn-cms-licenses p.heading.main {
    font-size: 18px;
    margin-top: 0;
}

.usn-cms-licenses .item hr {
    margin: 8px 0;
    border-color: rgba(65, 54, 89, 0.05);
}

.usn-cms-licenses ul.list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.usn-cms-licenses ul.list li {
    padding: 5px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: rgba(65, 54, 89, 0.1);
}

.usn-cms-licenses ul.list li:last-child {
    border: 0 none;
}

.usn-cms-licenses .form-group.upload-field input {
    width: 100%;
    padding: 0;
    vertical-align: top;
}

.usn-cms-licenses .btn.upload {
    margin-top: 15px;
}

.usn-cms-licenses .alert {
    border-radius: 5px;
    padding: 10px 15px;
}

.usn-license-dashboard-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.85);
}

.usn-license-dashboard-loading .loading {
    margin: 0;
    position: relative;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.usn-license-dashboard-loading .loading .message {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icons/loading-on-white.gif');
}

.usn-cms-licenses .usn-alert-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
}

.usn-cms-licenses .usn-alert-loader .loading {
    margin: 0;
    position: relative;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.usn-cms-licenses .usn-alert-loader .loading .message {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icons/loading-on-white.gif');
}

.usn-cms-licenses .alert.alert-warning {
    color: #303033;
    background: rgba(240, 172, 0, 0.1);
    border-color: rgba(240, 172, 0, 0.2);
}

.usn-cms-licenses .alert.alert-danger {
    color: #303033;
    background: rgba(240, 46, 40, 0.1);
    border-color: rgba(240, 46, 40, 0.2);
}

.usn-cms-licenses .alert :first-child,
.usn-cms-licenses .item :first-child {
    margin-top: 0;
}

.usn-cms-licenses .alert :last-child,
.usn-cms-licenses .item :last-child {
    margin-bottom: 0;
}

.usn-cms-licenses .item {
    position: relative;
    display: block;
    padding: 15px;
    margin: 0 0 15px 0;
    background: #f3f3f5;
    border-radius: 5px;
    min-height: 90px;
}

.usn-cms-licenses .item.message {
    min-height: auto;
}

.usn-cms-licenses .item .heading:first-child {
    margin-top: 0;
}

.usn-cms-licenses p+.item {
    margin-top: 20px;
}