@inherits UmbracoViewPage<IUsn_Cmp_Sp_BannerSection>

@{
    if (!Model.DisplayHeaderImageSection)
    {
        <h1 class="heading main">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
    }  
}
